* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #222;
  color: antiquewhite;
  font-family: sans-serif;
}

.img-container {
  display: flex;
  flex-wrap: wrap;

  img {
    height: 40vh;
  }
}
