* {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #222;
  color: antiquewhite;
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 1rem;
  h1 {
    margin: 0;
    padding-left: 3vw;
    font-size: 3rem;
    background-image: url("./src/img/img10.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.384);
    background-size: 50%;
    user-select: none;
  }
  .header-link-container {
    display: flex;
    padding-right: 3vw;
    gap: 2rem;
    font-size: 2rem;

    div {
      transition: all 100ms ease-in;
      background-image: url("./src/img/img9.jpg");
      -webkit-background-clip: text;
      -webkit-text-fill-color: rgba(255, 255, 255, 0.384);
      background-size: 50%;
      &:hover {
        transform: scale(97%);
        background-image: url("./src/img/img9.jpg");
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.514);
        background-size: 50%;
        cursor: pointer;
      }
    }
    .active-link {
      border: 2px solid rgba(255, 255, 255, 0.322);
      padding: 0.5rem;
      margin: -0.5rem;
      &:hover {
        transform: scale(100%);
        background-image: url("./src/img/img9.jpg");
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.384);
        background-size: 50%;
        cursor: default;
      }
    }
  }
}

.img-container {
  margin: 1rem 1rem 0 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  img {
    height: 40vh;
    flex: 1;
    object-fit: cover;
    object-position: center;
    transition: all 100ms ease-in;
    &:hover {
      filter: brightness(1.1);
      transform: scale(103%);
      box-shadow: 0px 0px 10px rgba(245, 245, 245, 0.253);
      cursor: pointer;
    }
  }
}

.full-size-img-container {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 50vw;
    height: 100%;
    object-fit: cover;
    z-index: 1001;
  }
}

.full-size-btn-container {
  height: 100vh;
  width: 100%;
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  .x-btn {
    font-size: 5rem;
    position: absolute;
    left: 3%;
    top: 3%;
    user-select: none;
  }
  .arrow {
    font-size: 8rem;
    position: absolute;
    user-select: none;
  }

  .left-arrow {
    bottom: 50%;
    left: 10%;
  }

  .right-arrow {
    bottom: 50%;
    right: 10%;
  }

  .btn-hover {
    transition: all 100ms ease-in;

    &:hover {
      cursor: pointer;
      color: white;
      transform: scale(96%);
    }
  }

  .play-btn {
    position: absolute;
    font-size: 6rem;
    top: 10%;
    left: 2%;
    user-select: none;
    &:hover {
      cursor: pointer;
      color: white;
      transform: scale(96%);
    }
  }
}

.slide-show-img-container {
  height: 100vh;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: fit-content;
    height: 100vh;
    object-fit: cover;
    z-index: 1001;
  }
}

.d-none {
  display: none;
}
